<?xml version="1.0"?>
<launch>
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
        <!-- data source to integrate (PointCloud2) -->
        <remap from="cloud_in" to="/velodyne_cloud_registered_loam"/>

        <param name="resolution" value="0.05"/>

        <param name="frame_id" value="odom"/>
        <!--<param name="frame_id" value="map"/>-->
        <param name="base_frame_id" value="base_link"/>

        <param name="height_map" value="true"/>
        <param name="latch" value="false"/>

        <!-- maximum range to integrate (speedup!) -->
        <param name="sensor_model/max_range" value="20.0"/>

	<param name="filter_ground" type="bool" value="true" />
	<param name="filter_speckles" type="bool" value="true" />
	<param name="ground_filter/distance" type="double" value="-0.6" />
	<param name="ground_filter/plane_distance" type="double" value="0.2" />
	<param name="pointcloud_min_z" type="double" value="-10.0" />
	<param name="pointcloud_max_z" type="double" value="10.0" />
	<param name="occupancy_min_z" type="double" value="-1" />
	<param name="occupancy_max_z" type="double" value="10" />

        <!-- Filter ground obstacles -->
        <!--<param name="filter_ground" value="true"/>-->
	<!--<param name="ground_filter/distance" value="-1"/>-->
        <!--<param name="ground_filter/plane_distance" value="-0.5"/>-->
	<!--<param name="ground_filter/angle" value="100"/>-->
	<!--<param name="pointcloud_min_z" value="-0.965"/>-->
    </node>
</launch>
