<?xml version="1.0"?>
<launch>
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
        <!-- data source to integrate (PointCloud2) -->
        <remap from="cloud_in" to="/laser_cloud_surround"/>

        <param name="resolution" value="0.05"/>

        <param name="frame_id" value="odom"/>
        <!--<param name="frame_id" value="map"/>-->
        <param name="base_frame_id" value="base_link"/>

        <param name="height_map" value="true"/>
        <param name="latch" value="false"/>

        <!-- maximum range to integrate (speedup!) -->
        <param name="sensor_model/max_range" value="50.0"/>

        <!-- Filter ground obstacles -->
        <param name="filter_ground" value="true"/>
        <param name="ground_filter/plane_distance" value="1"/>
    </node>
</launch>
