<?xml version="1.0"?>
<launch>
    <!-- x y z yaw pitch roll goal_frame local_frame -->
    <!-- Camera at ground level -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="camera_broadcaster"
          args="2.44 0 0 3.14 0 0 base_link camera"/> -->

    <!-- LiDAR - Front - No Tilt -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="velodyne_broadcaster"
          args="0 0 0.9906 0 0 0 base_link velodyne"/> -->

    <!-- Velodyne Heightmap -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="hm_broadcaster"
          args="0 0 0 0 0 0 base_link heightmap"/> -->

    <!-- Single Channel Hokuyo LiDAR -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="laser_broadcaster"
          args="0.3429 0 0.2413 0 0 0 base_link laser"/> -->

    <!-- Vectornav IMU -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="imu_broadcaster"
          args="-1.7145 0.108 0.375 0 0 0 base_link imu_link"/> -->

    <!-- Vectornav GPS -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="imu_broadcaster"
          args="-1.27 0 1.7907 0 0 0 base_link gps_link"/> -->

    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_broadcaster"
          args="3.92 0 0 3.14 0 0 base_link camera"/>

    <!-- LiDAR - Front - No Tilt -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="velodyne_broadcaster"
          args="1.4859 0 0.965 0 0 0 base_link velodyne"/>

    <!-- Velodyne Heightmap -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="hm_broadcaster"
          args="1.4859 0 0 0 0 0 base_link heightmap"/>

    <!-- Single Channel Hokuyo LiDAR -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="laser_broadcaster"
          args="1.7272 0.0047625 0.235 0 0 0 base_link laser"/>

    <!-- IMU  -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="baselink_imu_broadcaster"
          args="1.2 0 1.8288 3.14159 0 0 base_link imu_link 100" /> -->



</launch>
