apm_phase5/catkin_ws/build/
apm_phase5/catkin_ws/devel/
.DS_Store
apm_phase5/catkin_ws/.catkin_tools/

gpu_testing/build/

*~
Software/
Arduino/
.nvidia-settings-rc
opencv/

apm_phase5/opencv_contrib/
apm_phase5/ENet/
bagfiles/
*.bag
*.bag.active

apm_phase5/img/costmap.png

apm_phase5/catkin_ws/src/loam_velodyne/
