[submodule "tt_arduino/libraries/pwm_lib"]
	path = tt_arduino/libraries/pwm_lib
	url = https://github.com/antodom/pwm_lib.git
[submodule "tt_core/catkin_ws/src/vectornav"]
	path = tt_core/catkin_ws/src/vectornav
	url = https://github.com/dawonn/vectornav.git
[submodule "tt_core/ENet"]
	path = tt_core/ENet
	url = https://kgcoe-git.rit.edu/ksa6262/Enet_TigerTaxi.git
