<?xml version="1.0"?>
<launch>

    <arg name="update_freq" default="2"/>

    <node pkg="topic_tools" type="throttle" name="imu_throttle" args="messages vectornav/IMU $(arg update_freq) tt_gui/throttle/imu"/>

    <node pkg="topic_tools" type="throttle" name="gps_throttle" args="messages vectornav/GPS $(arg update_freq) tt_gui/throttle/gps"/>

</launch>
