<library path="src">
  <class name="APM_modecontrol" type="rqt_apm_modecontrol.rqt_apm_modecontrol_module.apm_modecontrol" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI for allowing the operator to change to mode of the APM.
    </description>
    <qtgui>
      <group>
        <label>APM</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to the APM.</statustip>
      </group>
      <label>Mode Control</label>
      <icon type="theme">applications-other</icon>
      <statustip>A Python GUI plugin for changing the mode of the APM</statustip>
    </qtgui>
  </class>
</library>
