<library path="src">
  <class name="APM_speedometer" type="rqt_apm_speedometer.rqt_apm_speedometer_module.apm_speedometer" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI for displaying the speed of the APM.
    </description>
    <qtgui>
      <group>
        <label>APM</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to the APM.</statustip>
      </group>
      <label>Speedometer</label>
      <icon type="theme">applications-other</icon>
      <statustip>A Python GUI plugin for displaying the speed of the APM</statustip>
    </qtgui>
  </class>
</library>
